{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>Edit puppy info</h1>

    {% if pup %}
        <p>Update the info below:</p>
        <form action="" method="POST">
            {{form.hidden_tag()}} <br>
            {{form.name.label}}{{form.name}} <br>
            {{form.owner.label}} {{form.owner}} <br>
            {{form.toy.label}} {{form.toy}} <br>
            {{form.submit()}}
        </form>
    {% else %}
        <p>Invalid pup id: {{form.id.data}}</p>
    {% endif %}
   
</div>

{% endblock %}