{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Here is a list of all available puppies:</h1>
        <ul>
            {% for pup in puppies %}
                <li>{{pup}} 
                    <form action="" method="post">
                        {{ delform.hidden_tag() }}
                        <span>Id </span>{{ delform.id(value = pup.id, disabled=True) }}</>
                        {#% set delform.id.data = 4 %#}
                        {{ delform.submit() }}
                        <a class="btn btn-secondary" href="{{url_for('edit_pup', id=pup.id)}}" role="button">Edit</a>
                    </form>
                 </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}