<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the site, {{name}}!</h1>
    <p>{{letters[2:]}}</p>
    <p>{{pup_dic}}</p>

    <p>
        <ul>
            {% for pup in puppies %}
            <li>{{pup}}</li>
            {% endfor %}
        </ul>
    </p>

    <p>
        {% if 'Rufus' in puppies %}
            <p>Found you, Fufus!</p>
        {% else %}
            <p>Hmm... Rufus is not found.</p>
        {% endif %}
    </p>
    <h2>Here is a pic of the holiday!</h2>
    <img src="../static/holiday.jpg" alt="">
</body>
</html>