{% extends "base.html" %}
{% block content % }
    <div class="col-lg-6">
        <div align='center'>
            <h1 class="display-5 fw-bold lh-1 mb-3">Account Profile: {{current_user.username}} </h1>
            <img src="{{url_for('static', filename='profile_pics/'+current_user.profile_image)}}" alt="">
        </div>
    </div>

    <div class="container">
        <form action="" method="POST">
            {{form.hidden_tag()}}
            {{form.username.label}} {{form.username}}
            {{form.email.label}} {{form.email}}
            {{form.picture.label}} {{form.picture}}
            {{form.submit()}}
        </form>
    </div>

{% endblock %}